@model IEnumerable<FPTModel.Couse_Cat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CouseName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.User.Fullname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.CouseName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.User.Fullname)
        </td>
    </tr>
}

</table>
